{% extends 'template.html.twig' %}

{% block Title %}
{% endblock %}

{% block body %}
<table class="table">
    {% for note in notes %}
        <tr>
            <td>{{ note }}</td>
        </tr>
    {% endfor %}
</table>

<div class="alert alert-info ">
    <p>Nombers des Valeur : {{ notes | length }}</p>
    <p>Min : {{ min(notes)  }}</p>
    <p>Max : {{ max(notes) }}</p>
</div>
{% endblock %}