{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}
    Hello titre de document!
{% endblock %}


{% block corpDuDocument %}
    <ol>
        <li>
            Nouvelle contenu
        </li>
        <li>
            j'adore l'heritage en twig!!!!!
        </li>
    </ol>
{% endblock %}
